<header>
    <nav class="navbar navbar-dark bg-primary navbar-expand-md">
        <div>
            <a href="https://github.com/shwesinhtay111/angular-20200907-study" class="navbar-brand">My Github Code</a>
        </div>
        <ul class="navbar-nav">
            <li><a routerLink="/welcome/shwesin" class="nav-link">Home</a></li>
            <li><a routerLink="/todos" class="nav-link">Todos</a></li>
        </ul>
        <ul class="navbar-nav navbar-collapse justify-content-end">
            <li><a routerLink="/login" class="nav-link">Login</a></li>
            <li><a routerLink="/logout" class="nav-link">Logout</a></li>
        </ul>

    </nav>
</header>